@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Arkhip";
  src: url("../fonts/Arkhip.woff2") format("woff2");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 50px;
  padding-bottom: 90px;
  background-image: url("../img/rectangle-header-bg.png"),
    url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.header__logo {
  display: flex;
}

.logo-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #f6d0a2;
  padding-top: 11px;
}

.logo-text__title {
  font-family: "Arkhip", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: -0.075em;
}

.logo-text__text {
  font-family: "OpenSans", sans-serif;
  font-size: 8px;
  letter-spacing: 0.025em;
}

.header-top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 175px;
}

.header__description {
  width: 255px;
}



.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__phone {
  font-family: "OpenSansExtraBold", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  margin-bottom: 12px;
}

.contacts__consultation-btn {
  background-color: transparent;
  width: 202px;
  height: 36px;
  border: 1px solid rgb(232, 196, 152);
  border-radius: 11px;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  cursor: pointer;
}

.contacts__consultation-btn:hover {
  opacity: 0.7;
}

.header__navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__burger {
  width: 31px;
  height: 16px;
}

.header__burger:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e8c498;
  margin-bottom: 5px;
}

.header__burger span:last-child {
  margin-bottom: 0px;
  width: 50%;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__link {

  text-decoration: none;
  color: #e6b87c;
}

.header-main-block {
  position: relative;
  padding-bottom: 85px;
}

.header-main-block__description {
  font-family: "OpenSansExtraBold", sans-serif;
  font-size: 35px;
  line-height: 48px;
  letter-spacing: -0.05em;
  margin: 0;
  display: block;
  width: 585px;
  margin-bottom: 128px;
  position: relative;
}

.header-main-block__description::after {
  position: absolute;
  content: "";
  width: 57px;
  height: 64px;
  background-image: url("../img/golden-arrow.png");
  background-repeat: no-repeat;
  bottom: -95px;
  right: 165px;
}

.gold-text {
  color: #e6b87c;
  font-family: "OpenSansExtraBold", sans-serif;
}

.gold-text--big {
  text-transform: uppercase;
}

.video-presentation {
  position: absolute;
  right: 165px;
  top: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 180px;
  font-size: 15px;
}

.video-presentation__btn {
  background-color: transparent;
  width: 94px;
  height: 94px;
  border: 2px solid rgb(230, 184, 124);
  border-radius: 50%;
  background-image: url("../img/video-btn.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  font-size: 0;
}

.video-presentation__btn:hover {
  box-shadow: 0px 0px 40px 25px rgba(230, 184, 124, 0.33),
    inset 0px 0px 3px 50px rgba(230, 184, 124, 0.33);
}

.gold-button {
  width: 344px;
  height: 59px;
  border-radius: 10px;
  border-radius: 10px;
  background-color: rgb(230, 184, 124);
  display: block;
  border: none;
  color: #fff;
  cursor: pointer;
}

.gold-button--blur {
  font-family: "OpenSansExtraBold", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 48px;
}

.gold-button:hover {
  box-shadow: 0px 0px 21px 0px rgba(230, 184, 124, 0.75);
}

.header-features {
  display: flex;
  margin-right: -125px;
  justify-content: space-between;
}

.header-features__item {
  margin: 0;
  margin-right: 125px;
  padding-left: 23px;
  position: relative;
}

.header-features__item::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../img/header-circle-icon.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 5px;
}

.main {
  padding-top: 80px;
}

.advantages-block__text {
  font-family: "OpenSansExtraBold", sans-serif;
  font-size: 34px;
  line-height: 48px;
  text-align: center;
  display: block;
  width: 880px;
  margin: 0 auto;
  margin-bottom: 180px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #444444;
  margin-bottom: 86px;
  
}

.min-title {
  font-family: "OpenSansExtraBold", sans-serif;
  text-transform: uppercase;
}

.text-block__min-title {
  
  font-size: 26px;
  line-height: 34px;
  
  margin-bottom: 50px;
  display: block;
}

.gold-list {
  font-size: 14px;
  max-width: 375px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.text-block__offer-btn {
  font-size: 14px;
  position: absolute;
  bottom: -50px;
}

.text-block__offer-btn strong {
  font-family: "OpenSansExtraBold", sans-serif;
}

.gold-list__item {
  padding-left: 34px;
  position: relative;
}

.gold-list__item::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("../img/list-item-icon.png");
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gold-list__item:not(:last-child) {
  margin-bottom: 34px;
}

.advantages-block__photo {
  box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.28);
  margin-top: 24px;
  position: relative;
}

.advantages-block__photo::before {
  content: "";
  position: absolute;
  font-family: "OpenSansExtraBold", sans-serif;
  font-size: 120px;
  line-height: 20px;
  top: -30px;
  left: 105px;
}

.advantages-block__photo::after {
  content: "";

    background-color: rgb(230, 184, 124);
    position: absolute;

    width: 39px;
    height: 7px;
    transform: rotate(-45deg);
    top: -70px;
    left: 80px;


  
}

.advantages-block__photo--first::before {
  content: "01";
}

.advantages-block__photo--second::before {
  content: "02";
}

.advantages-block__photo--third::before {
  content: "03";
}

.advantages-block__photo img {
  width: 100%;
  height: 100%;
}

.advantages-block--first {
  margin-bottom: 172px;
}

.advantages-block--second {
  flex-direction: row-reverse;
  margin-bottom: 165px;
}

.find-price-block {
  background-image: url("../img/find-price-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 101px;
  padding-bottom: 76px;

}



.find-price__wrapper {
  padding: 47px 33px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;

}



.find-price-block__blk {
  padding: 31px 37px 37px 37px;
  background-color: rgba(0, 0, 0, 0.05);

  max-width: 508px;
}

.find-price__min-title {
  font-size: 35px;
  line-height: 48px;
  text-transform: none;
  margin-bottom: 30px;

}

.find-price__description {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 130px;
  position: relative;
}

.find-price__description::before {
  content: "";
  position: absolute;
  background-image: url("../img/find-price-arrow.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 112px;
  right: 34px;
  bottom: -100px;
}

.Rectangle_6 {
  background-color: rgb(2030, 184, 124);
  opacity: 0.051;
  position: absolute;
  left: 437px;
  top: 3411px;
  width: 485px;
  height: 705px;
  z-index: 45;
}


.sell-apartment-block {
  background-image: url("../img/sell-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 131px;
  padding-bottom: 72px;
}

.sell-apartment-block__wrapper {
  display: flex;
}

.sell-apartment-block__photo {
  padding-top: 135px;

}

.sell-apartment-block__photo img {
  max-width: 100%;
}

.sell-apartment-block__blk {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 40px;
  max-width: 630px;
}

.sell-apartment__wrapper {
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff;
  padding: 28px 28px;
}

.sell-apartment__min-title {
  text-transform: none;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 35px;
  display: block;
}

.sell-apartment__description {
  font-size: 18px;
  margin: 0;
  margin-bottom: 44px;
  display: block;
}

.sell-apartment__list {
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.gold-button--blur {
  margin: 0 auto;
  
}